html,body{
    width: 100%;
    margin:0px;
}

/***menu-bar start******/
#menu-bar{
    position: sticky;
    top:0px;
    background-color:white;

    height: 50px;

    padding-right: 20px;
	padding-left: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-bar-category{
    margin:10px;
}


#menu-bar-title{
    font-weight: bold;

}


/****landingpage start**********/
#Landingpage{
    
    height: 100vh;
    

    background-image: url("./title.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Landingpage-logo{
    margin:25px;
    height: 150px;
    width: 150px;
}

.Landingpage-text{
    color:white;
    text-align: center;
}
/**********Landingpage finish************/


.page{
    width: calc(100% - 60px);
    padding: 30px;
    
}

.page:nth-child(2n-1){
    background-color: lightgray;
}

/******Curriculum start***********/
#Curriculum-title{
    display: flex;
    align-items: flex-start
}

#Curriculum-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#Curriculum-img{
    width: 80%;
    margin-left: 10%;
}

.Curriculum-table{
    width: 80%;
    margin-left: 10%;
    border-collapse: collapse;

}

.Curriculum-table td,th{
    border:1px solid black;
}
/*****Curriculum finish*********/

/*****Networking start**********/


#Networking-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

    margin:50px;

    text-align: center;
}

.Networking-img{
    height: 300px;
    width: 300px;
}
/*******Networking finish*****/

/******Guest-Memo start********/
#Guest-memo-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 20px;
}
#Guest-memo-text{
    width: 100%;
    height: 100px;
    text-align: left;
}

#Guest-memo-button{
    margin-top:5px;
}



